<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Select Chart Type" ngmodel='type' (ionChange)='changeType($event)'>
        <ion-select-option value="bar">Bar Chart</ion-select-option>
        <ion-select-option value="line">Line Chart</ion-select-option>
        <ion-select-option value="pie">Pie Chart</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ng-container *ngIf="type === 'bar' ">
    <app-bar-chart></app-bar-chart>
  </ng-container>
  <ng-container *ngIf="type === 'line' ">
    <app-line-chart></app-line-chart>
  </ng-container>
  <ng-container *ngIf="type === 'pie' ">
    <app-pie-chart></app-pie-chart>
  </ng-container>
</ion-content>